/* CSS Document */
.buttonstyle{ 
	background-color:#73C6E6;
	border:#06F 1px solid;
	border-radius:20px;
	color:#FFF;
	padding:5px 10px;
	font-weight:bold;
	cursor:pointer;
	}
.buttonstyle:hover{ 
	
	border:#06F 1px solid;
	 cursor: pointer;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  
	background-color:#2C9398;
	color:#FFF;
	}

